@import "@/styles/colors";
@import "@/styles/variables";

$itemWidth: 128px;

.tabs {
    width: 100%;
}

.navs {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    overflow-x: auto;
    white-space: nowrap;
}

.item {
    height: 2rem;
    padding: 0 $spacing 0 $spacing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $grey;

    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    border-bottom: none;

    span {
        overflow: hidden;
    }

    &Active {
        background-color: white;
    }
}